<!-- se ha instalado la libreria 'moment' para fechas con el comando:
  npm install --save moment
-->
<header>
  <div class="fondo">
    <h1>Blog Rojo Cinco</h1>
  </div>
  <div class="botones">
    <button [routerLink]="'/posts'" class="btn btn-info me-5">Ir al blog</button>
    <button [routerLink]="'/new'" class="btn btn-info">Insertar nuevo post</button>
  </div>
</header>

<div class="spidy">
  <img src="../assets/images/spidy.png">
</div>


<main>
  <div class="contenedor">
    <div class="wrap">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>

<footer>
  Copyright &copy; Amalia Sánchez 2022
</footer>